*{
  margin: 0;
  padding: 0;
}
body{
  padding-bottom: 20px;
}
.container{
  width: 90%;
  margin: 20px auto;
  padding: 1rem;
}
.team-con h4{
  text-align: center;
  color: rgb(39, 172, 255);


}
.team-con h1{
  text-align: center;
  color: var(--secondColor);
  font-size: 3rem;

}
.team-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.card{
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 1rem;
  border: 1px solid gray;
}
.card:hover {
  background-color: rgb(8, 8, 87);
  color: white;
}
.card:hover>h2{
 color: white;
}
.card:hover>p{
 color: white;
}
.card {
  width: 300px;
  text-align: center;
  position: relative;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* SOCIAL ICONS */
.socials {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* show socials when hover image area */
.img-box:hover .socials {
  opacity: 1;
  pointer-events: auto;
}

.socials i {
  background: #fff;
  color: #333;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.socials i:hover {
  background: #333;
  color: #fff;
}